.savoir {
    text-decoration: none;
    color: white;
    display: inline block;
    background: transparent;
    border: 1px white solid;
    font-size: 13px;
    padding: 12px 34px;
    position: relative;
    cursor: pointer;
}

.gb{ min-height:90vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(Universite_henrichristophe.jpg);
    background-position: center;
    background-size: cover;
}

footer{
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(Universite_henrichristophe.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

footer p{
    color: white;
}

footer h6{
    color: white;
}

footer i{
    color: white;
}

.savoir:hover {
    border: 1px white solid;
    background:blue;
    transition: 1s;
    color: white;
}

.m-4 p{
    text-align: justify;
}



.text-box h1 {
    font-size: 30px;
}

.text-box p {
    padding: 10px 0 40px;
    font-size: 14px;
}

a {
    text-decoration: none;
    list-style: none;
}


@media (min-width: 768px) { 
    .text-box {
        position: absolute;
        top: 60%;
    }


    .h1{
        font-size: 20px;
    }
 }

 .text-box {
    width: 90%;
    color:white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}