
.image1 {
    background-size: cover;
    width:100%;
    height: 80vh;
}

.gbb{
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(9d1c48_b35a058fae82402c94e730d9c99cd70f~mv2_d_4112_3088_s_4_2.jpg);
    background-position: center;
    background-size: cover;
}


.mt-4{
    text-align: justify;
}


.m-4 p{
    text-align: justify;
}

.gb {
    text-align: justify;
}

=======
.image1 {
    background-size: cover;
    width:100%;
    height: 80vh;
}

.mt-4{
    text-align: justify;
}


.m-4 p{
    text-align: justify;
}

.gb {
    text-align: justify;
}


