@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");


:root {
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(82, 60%, 28%);
  --title-color: hsl(0, 0%, 15%);
  --text-color: hsl(0, 0%, 35%);
  --body-color: hsl(0, 0%, 95%);
  --container-color: hsl(0, 0%, 100%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --h2-font-size: 1.25rem;
  --small-font-size: .813rem;
}


body{
  font-family: var(--body-font);
}
.gb{
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(HexaLogoMockup1FP2.jpg);
    background-position: center;
    background-size: cover;
}

.lienn a{
    text-decoration: none;
    color: white;
  }
  
  footer i,a{
    color: white;
    font-size: 18px;
  }

  h6{
    color: white;
  }
  
  footer p{
    color: white;
  }
  
  footer a{
    color: white;
    text-decoration: none;
  }

  footer a:hover{
    color: rgb(6, 255, 151);
  }

  footer i{
    color: white;
  }
  
  

  .icon-link {
    display: inline-flex;
    align-items: center;
  }

  .bx-right-arrow-alt{
    
  }

  .bx-right-arrow-alt:hover{
    padding-right: 10px;
  }

  .container2
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 60px 0;
    gap: 60px;
}
.container2 .box
{
    position: relative;
    width: 300px;
    height: 350px;
    background: #2e2e2e;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container2 .box::before
{
    content: '';
    position: absolute;
    inset: -10px 50px;
    border-top: 4px solid var(--clr);
    border-bottom: 4px solid var(--clr);
    z-index: -1;
    transform: skewY(15deg);
    transition: 0.5s ease-in-out;
}
.container2 .box:hover::before
{
    transform: skewY(0deg);
    inset: -10px 40px;
}
.container2 .box::after
{
    content: '';
    position: absolute;
    inset: 60px -10px;
    border-left: 4px solid var(--clr);
    border-right: 4px solid var(--clr);
    z-index: -1;
    transform: skew(15deg);
    transition: 0.5s ease-in-out;
}
.container2 .box:hover::after
{
    transform: skew(0deg);
    inset: 40px -10px;
}
.container2 .box .content
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    padding: 0 20px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.container2 .box .content .icon
{
    color: var(--clr);
    width: 80px;
    height: 80px;
    box-shadow: 0 0 0 4px #2e2e2e,0 0 0 6px var(--clr);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    background: #2e2e2e;
    transition: 0.5s ease-in-out;
}
.container2 .box:hover .content .icon 
{
    background: var(--clr);
    color: #2e2e2e;
    box-shadow: 0 0 0 4px #2e2e2e,0 0 0 300px var(--clr);
}
.container2 .box .content .text h3
{
    font-size: 1.5em;
    color: #fff;
    font-weight: 500;
    transition: 0.5s ease-in-out;
}
.container2 .box:hover .content .text h3
{
    color: #2e2e2e;
}
.container2 .box .content .text p
{
    color: #999;
    transition: 0.5s ease-in-out;
}
.container2 .box:hover .content .text p
{
    color: #2e2e2e;
}
.container2 .box .content .text a
{
    position: relative;
    background: var(--clr);
    color: #2e2e2e;
    padding: 8px 15px;
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    margin-top: 10px;
    transition: 0.5s ease-in-out;
}
.container2 .box:hover .content .text a
{
    background: #2e2e2e;
    color: var(--clr);
}